# VacationPy
----

In [ ]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
input_path = "result.csv"
df = pd.read_csv(input_path)
del df["Unnamed: 0"]
# df = df.dropna()
df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speeds
0,bredasdorp,0,ZA,1592411694,72,-34.53,20.04,60.80,2.68
1,busselton,41,AU,1592411694,50,-33.65,115.33,57.99,20.80
2,broken hill,0,AU,1592411694,66,-31.95,141.43,48.20,6.93
3,mercedes,67,AR,1592411694,63,-34.65,-59.43,78.01,21.00
4,hasaki,75,JP,1592411694,88,35.73,140.83,66.20,3.36

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations = [(i,j) for i,j in zip(df["Lat"],df["Lng"])]
weight = df["Humidity"]

# Customize the size of the figure

figure_layout = {
    'width': '800px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}


fig = gmaps.figure(layout=figure_layout)
max_intensity = max(weight)
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=max_intensity,
                                 point_radius=1.5)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…

In [4]:
figure_layout = {
    'width': '800px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(map_type="HYBRID", layout=figure_layout)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=max_intensity,
                                 point_radius=1.5)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_weather_df = df.loc[(df["Max Temp"]<80)&(df["Max Temp"]>70)&
                          (df["Wind Speeds"]<10)& (df["Cloudiness"]==0),:]

ideal_weather_df = ideal_weather_df.dropna()
ideal_weather_df = ideal_weather_df.reset_index(drop = True)
ideal_weather_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speeds
0,broome,0,US,1592411700,46,42.25,-75.83,79.00,1.01
1,pallasovka,0,RU,1592411700,45,50.05,46.88,73.36,9.06
2,perelyub,0,RU,1592411706,72,51.87,50.37,71.02,6.08
3,verkhnedneprovskiy,0,RU,1592411721,75,54.98,33.35,71.58,5.79
4,goderich,0,CA,1592411721,57,43.75,-81.72,78.01,2.89
5,mastung,0,PK,1592411727,15,29.80,66.84,79.32,2.73
6,alekseyevka,0,RU,1592411739,78,50.63,38.69,71.71,8.63
7,namibe,0,AO,1592411739,57,-15.20,12.15,73.78,5.19
8,belaya gora,0,RU,1592411741,43,68.53,146.42,70.52,2.24
9,lakhdenpokhya,0,RU,1592411741,62,61.52,30.20,71.01,5.03
10,saldanha,0,ZA,1592411747,28,-33.01,17.94,73.40,2.24
11,monastyrshchina,0,RU,1592411752,78,54.35,31.84,71.58,6.71
12,jiayuguan,0,CN,1592411759,19,39.82,98.30,73.56,8.70
13,san vicente,0,AR,1592411761,56,-26.62,-54.13,76.15,9.24
14,southbridge,0,US,1592411536,38,42.08,-72.03,79.00,1.99
15,sobolevo,0,RU,1592411773,78,54.43,31.90,71.78,6.33
16,haradok,0,BY,1592411779,76,55.46,29.98,73.13,6.67

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
ideal_weather_df['Hotel Name'] = ""
ideal_weather_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speeds,Hotel Name
0,broome,0,US,1592411700,46,42.25,-75.83,79.00,1.01,
1,pallasovka,0,RU,1592411700,45,50.05,46.88,73.36,9.06,
2,perelyub,0,RU,1592411706,72,51.87,50.37,71.02,6.08,
3,verkhnedneprovskiy,0,RU,1592411721,75,54.98,33.35,71.58,5.79,
4,goderich,0,CA,1592411721,57,43.75,-81.72,78.01,2.89,
5,mastung,0,PK,1592411727,15,29.80,66.84,79.32,2.73,
6,alekseyevka,0,RU,1592411739,78,50.63,38.69,71.71,8.63,
7,namibe,0,AO,1592411739,57,-15.20,12.15,73.78,5.19,
8,belaya gora,0,RU,1592411741,43,68.53,146.42,70.52,2.24,
9,lakhdenpokhya,0,RU,1592411741,62,61.52,30.20,71.01,5.03,
10,saldanha,0,ZA,1592411747,28,-33.01,17.94,73.40,2.24,
11,monastyrshchina,0,RU,1592411752,78,54.35,31.84,71.58,6.71,
12,jiayuguan,0,CN,1592411759,19,39.82,98.30,73.56,8.70,
13,san vicente,0,AR,1592411761,56,-26.62,-54.13,76.15,9.24,
14,southbridge,0,US,1592411536,38,42.08,-72.03,79.00,1.99,
15,sobolevo,0,RU,1592411773,78,54.43,31.90,71.78,6.33,
16,haradok,0,BY,1592411779,76,55.46,29.98,73.13,6.67,

In [7]:
hotel_df = []

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {       
          "radius": 5000,
          "types" : "hotel",
          "key": g_key,
         }

# use iterrows to iterate through pandas dataframe

for index, row in ideal_weather_df.iterrows():
     
    lat = row['Lat']
    lng = row['Lng']

    # add location to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    response = requests.get(base_url, params=params).json()
    try: 
        ideal_weather_df.loc[index, 'Hotel Name'] = response['results'][0]['name']
        hotel_df.append(response['results'][0]['name'])        
    except:
        ideal_weather_df.loc[index, 'Hotel Name'] = float("NaN")
        print("skip the city")

skip the city

In [10]:
ideal_weather_df = ideal_weather_df.dropna()
ideal_weather_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speeds,Hotel Name
0,broome,0,US,1592411700,46,42.25,-75.83,79.00,1.01,Chenango Forks
1,pallasovka,0,RU,1592411700,45,50.05,46.88,73.36,9.06,Pallasovka
2,perelyub,0,RU,1592411706,72,51.87,50.37,71.02,6.08,Perelyub
3,verkhnedneprovskiy,0,RU,1592411721,75,54.98,33.35,71.58,5.79,Verkhnedneprovskii
4,goderich,0,CA,1592411721,57,43.75,-81.72,78.01,2.89,Goderich
5,mastung,0,PK,1592411727,15,29.80,66.84,79.32,2.73,Mastung
6,alekseyevka,0,RU,1592411739,78,50.63,38.69,71.71,8.63,Alexeyevka
7,namibe,0,AO,1592411739,57,-15.20,12.15,73.78,5.19,Namibe
9,lakhdenpokhya,0,RU,1592411741,62,61.52,30.20,71.01,5.03,Lakhdenpokhya
10,saldanha,0,ZA,1592411747,28,-33.01,17.94,73.40,2.24,Saldanha
11,monastyrshchina,0,RU,1592411752,78,54.35,31.84,71.58,6.71,Monastyrshchina
12,jiayuguan,0,CN,1592411759,19,39.82,98.30,73.56,8.70,Jiayuguan City
13,san vicente,0,AR,1592411761,56,-26.62,-54.13,76.15,9.24,San Pedro
14,southbridge,0,US,1592411536,38,42.08,-72.03,79.00,1.99,Southbridge
15,sobolevo,0,RU,1592411773,78,54.43,31.90,71.78,6.33,Sobolevo
16,haradok,0,BY,1592411779,76,55.46,29.98,73.13,6.67,Gorodok

## Unfortunately the below codes are not working

In [11]:
# NOTE: Do not change any of the code in this cell


# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
#narrowed_city_df=pd.DataFrame()
hotel_info = [info_box_template.format(**row) for index, row in ideal_weather_df.iterrows()]
locations = ideal_weather_df[["Lat", "Lng"]]
city = ideal_weather_df["City"]

In [12]:
ideal_weather_df.shape

(16, 10)

In [13]:
# Add marker layer ontop of heat map

locations = ideal_weather_df[["Lat", "Lng"]]
# markers = gmaps.marker_layer(locations)
markers = gmaps.marker_layer(locations, info_box_content= [f"HOTEL NAME:  \n{hotel}"  for hotel in hotel_df])
fig.add_layer(markers)
fig


# Display Map

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…